body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
  width: 1600px;
}

.header-part {
  border-bottom: 1px #ececec;
}

.header-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2rem;
  letter-spacing: 0.03em;
}
.dark-text {
  color: #000000;
}
.headermenu {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
}
.headermenu-item {
  text-decoration: none;
}
.headermenu-item:visited {
  text-decoration: none;
  color: #212121;
}
.headermenu-item:hover,
.headermenu-item:focus {
  color: #2196f3;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.header-contacts:visited {
  color: #757575;
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: #2196f3;
}
/* end of header */
.main-div {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
.main-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  margin-top: 200px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.maindiv-button {
  margin-top: 350px;
  padding-left: 42px;
  margin-bottom: 200px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.descriptionlist {
  list-style-type: none;
}
.descriptionlist-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.descriptionlist-item {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
}

.whatwedo-list {
  list-style-type: none;
}
.ourteam {
  background: #f5f4fa;
}
.ourteam-list {
  list-style-type: none;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188rem;
  /* text-align: center; */
  letter-spacing: 0.03em;
}
.work-position {
  font-size: 16px;
  line-height: 1.188rem;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-menu {
  margin-top: 94px;
}

.mainportfolio-button {
  cursor: pointer;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button:hover,
.mainportfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list {
  list-style-type: none;
}
.portfolio-name {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-part {
  background-color: #2f303a;
}
.white-text {
  color: white;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}
