body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  width: 1600px;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #ffffff;
  border-bottom: 1px #ececec;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2rem;
  letter-spacing: 0.03em;
}
.dark-text {
  color: #000000;
}
.headermenu {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  color: #212121;
}
.headermenu-item {
  text-decoration: none;
}
.headermenu-item:visited {
  text-decoration: none;
  color: #212121;
}
.headermenu-item:hover {
  color: #2196f3;
}
.contact-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contact-item:visited {
  color: #757575;
  text-decoration: none;
}
.contact-item:hover {
  color: #2196f3;
}
/* end of header */
.main-div {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
.main-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  margin-top: 200px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.maindiv-button {
  margin-top: 350px;
  padding-left: 42px;
  margin-bottom: 200px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.description {
  background-color: #ffffff;
}
.descriptionlist {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
.descriptionlist-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.descriptionlist-item {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
}
.whatwedo {
  background-color: #ffffff;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.whatwedo-list {
  list-style-type: none;
}
.ourteam {
  background: #f5f4fa;
}
.ourteam-list {
  list-style-type: none;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188rem;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #212121;
}
.work-position {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.188rem;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}

.main-portfolio {
  background-color: #ffffff;
}
.portfolio-menu {
  margin-top: 94px;
}

.mainportfolio-button1 {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button1:hover {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainportfolio-button2 {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button2:hover {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainportfolio-button3 {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button3:hover {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainportfolio-button4 {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button4:hover {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mainportfolio-button5 {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
}
.mainportfolio-button5:hover {
  background-color: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-list {
  list-style-type: none;
}
.portfolio-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-category {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  color: #757575;
}

footer {
  background-color: #2f303a;
  font-family: "Roboto", sans-serif;
}
.white-text {
  color: white;
}
.company-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
