/* font-family: "Raleway", sans-serif;*/

main {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ececec;
}
.maindiv {
  background-color: #2f303a;
}

button {
  background-color: #f5f4fa;
  color: #212121;
}

footer {
  background-color: #2f303a;
  font-family: "Roboto", sans-serif;
}
